/* hsl(240, 50%, 50%)
hsl(240, 50%, 90%)
hsl(0, 100%, 50%)

*/

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    display:flex;
    flex-wrap:wrap;
    width:1000px;
    justify-content: center;
}